weights/
*.pt

data/
!data/dataset/val_20/

data/uploaded_videos/
data/mouth_frames/
data/full_frames/

venv/
env/

__pycache__/
*.py[cod]

.DS_Store
Thumbs.db

logs/
*.log
*.tmp

.ipynb_checkpoints/

.cache/
